@rendermode InteractiveServer

@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@inject IStringLocalizer<Resource> Localizer
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="false" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Class="nav-link-icon" Href="/" Match="NavLinkMatch.All" Icon="@(new Size20.Home())">@Localizer["NavLink_Home"]</FluentNavLink>
            <FluentNavLink Class="nav-link-icon" Href="tournaments" Icon="@(new Size20.Trophy())">@Localizer["NavLink_Tournaments"]</FluentNavLink>
            <FluentNavLink Class="nav-link-icon" Href="teams" Icon="@(new Size20.PeopleTeam())">@Localizer["NavLink_Teams"]</FluentNavLink>
            <FluentNavLink Class="nav-link-icon" Href="players" Icon="@(new Size20.Person())">@Localizer["NavLink_Players"]</FluentNavLink>
            <FluentNavLink Class="nav-link-icon" Href="auth">Auth Required</FluentNavLink>
            <AuthorizeView>
                <Authorized>
                    <FluentNavLink Href="Account/Manage">@context.User.Identity?.Name</FluentNavLink>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <FluentButton Type="ButtonType.Submit" Style="width: 100%;" >@Localizer["NavLink_Logout"]</FluentButton>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Class="nav-link-icon" Href="Account/Register">@Localizer["NavLink_Register"]</FluentNavLink>
                    <FluentNavLink Class="nav-link-icon" Href="Account/Login">@Localizer["NavLink_Login"]</FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>

    <Sidebar2 />
</div>

@code {
    private bool expanded = true;
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}